CAPTURE_APP_NAME=oakproof-capture
CAPTURE_APP_ENV=development
CAPTURE_HOST=127.0.0.1
CAPTURE_PORT=8100
CAPTURE_LOG_LEVEL=INFO
CAPTURE_STORAGE_ROOT=./data
CAPTURE_PUBLIC_BASE_URL=http://127.0.0.1:8100
CAPTURE_BACKEND_BASE_URL=http://127.0.0.1:8000
CAPTURE_CORS_ALLOW_ORIGINS=*
CAPTURE_STATION_ID=oakproof-station-01
CAPTURE_STATION_SIGNER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CAPTURE_SIMULATE=true
CAPTURE_OAK_DEVICE_ID=
CAPTURE_AUTO_SUBMIT_TO_BACKEND=true
CAPTURE_RECEIPT_NAMESPACE=oakproof
CAPTURE_REQUEST_TIMEOUT_SECONDS=10
